body {
    margin: auto;
}

.hat {
    background-color: #343A40;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

.button__s {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.text {
    color: #ffffff;
}


.data {
    display: flex;
    flex-direction: column;
}

.portfolio {
    padding: 20px 20px 2px;
}

.info {
    padding: 2px 20px 5px ;
}

.button {
    padding: 5px 20px 50px;
}
.content {
    background-color: #E9ECEF;
}

.header {
    font-size: 56px;
    margin: 50px 0px 0px;
}

.information__text {
    width: 600px;
    font-size: 16px;
}

.shell {
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
    background: #2799d6;
    box-shadow: 0 4px 8px 0 rgba(39, 153, 214, 0.35);
    cursor: pointer;
}

.shell:hover {
    background: #7cc1e6;
    box-shadow: 0 4px 16px 0 rgba(39, 153, 214, 0.25);
}

.shell {
    border-radius: 4px;
    transition: border-radius 0.5s ease-in;
}

.shell:hover {
    border-radius: 16px;
}


