body {
    margin: auto;
}

.hat {
    background-color: #343A40;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

.button {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.text {
    color: #ffffff;
}

.content {
    background-color: #E9ECEF;
}

.portfolio {
    margin-left: 20px;
}

.header {
    font-size: 56px;
}