body {
    margin: auto;
}

.hat {
    background-color: #343A40;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

.button__s {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.text {
    color: #ffffff;
}


.data {
    display: flex;
    flex-direction: column;
}

.portfolio {
    padding: 20px 20px 2px;
}

.info {
    padding: 2px 20px 5px ;
}

.button {
    padding: 5px 20px 50px;
}
.content {
    background-color: #E9ECEF;
}

.header {
    font-size: 56px;
    margin: 50px 0px 0px;
}

.information__text {
    width: 600px;
    font-size: 16px;
}

.shell {
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
    background: #007BFF;
    box-shadow: 0 4px 8px 0 rgba(39, 153, 214, 0.35);
    cursor: pointer;
}

.shell:hover {
    background: #007BFF;
    box-shadow: 0 4px 16px 0 rgba(39, 153, 214, 0.25);
}

.shell {
    border-radius: 4px;
    transition: border-radius 0.5s ease-in;
}

.shell:hover {
    border-radius: 16px;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.our__profile {
    outline: 2px solid rgba(0, 0, 0, 0.3);
    margin: 40px 5% 20px 20px;
    border-radius: 10px;
}

.statistics {
    outline: 2px solid rgba(0, 0, 0, 0.3);
    margin: 40px 50% 100px 0px;
    border-radius: 10px;
}

.hat__profile {
    padding: 12px 24px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    background-color: #E9ECEF;
}

.name__profile {
    padding: 12px 24px;
    font-size: 20px;
}

.degree__profile {
    padding: 0 24px 0 24px;
    margin: 0;
    font-size: 16px;
}

.specialization__profile {
    padding: 0 24px 0 24px;
    margin: 0 0 12px;
    font-size: 16px;
}

.up__statistics {
    padding: 12px 24px 0;
    margin: 0;
    font-size: 16px;
}

.down__statistics {
    padding: 0 24px 12px;
    margin: 0;
    font-size: 16px;
}